### https://www.gitignore.io/ ###

# Caches
**/.ipynb_checkpoints/*
**/__pycache__/*
*.pyc

# Data
data/Penguins/my_penguins.csv

# CoCalc
*.sage-chat
*.sage-jupyter2

# Other
.DS_Store

env_workshop/
