# We try to keep this environment in sync with the CoCalc Python 3 (system-wide) environment at
# https://cocalc.com/doc/software-python.html

black==19.10b0
isort==4.3.21
joblib==1.0.1
jupyter-contrib-nbextensions==0.5.1
jupyterlab==2.3.2
matplotlib==3.4.1
pandas==1.2.4
pip-tools==5.5.0
pylint==2.5.3
scikit-learn==0.24.1
seaborn==0.11.1
tqdm==4.60.0


# We also include the following for repo maintenance.
flake8
nbdime
treon
